.header__logo {
  background-image: url(../../../images/logo/Vector.svg);
  width: 142px;
  height: 33px;
  transition: opacity .3s linear;
  margin: 45px auto 0 0;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  transition: margin .15s ease-in;
  transition: width .2s ease-in;
  transition: height .2s ease-in;
}

.header__logo:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 28px auto 0 0;
    align-self: flex-end;
    margin-bottom: 31px;
  }
}
