.header__logo {
  background-image: url(../../../images/logo/Vector.svg);
  width: 142px;
  height: 33px;
  transition: opacity .3s linear;
  margin: 45px auto 41px 0;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}

.header__logo:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 28px auto 31.6px 27px;
  }
}