.popup__title {
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  line-height: 29.05px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .popup__title {
    font-size: 18px;
    line-height: 21.78px;
  }
}