.header__exit-link {
  align-self: center;
  text-decoration: none;
  color: #A9A9A9;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 767px) {
  .header__exit-link {
    margin: 18px 0 0 0;
  }
}