.header__menu-btn_type_close {
  background-image: url(../../../../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: transparent;
  width: 24px;
  height: 24px;
  display: none;
  padding: 0;
  transition: opacity .2s linear;
  background-size: contain;
  transition: background-image .1s linear;
}
.header__menu-btn_type_close:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .header__menu-btn_type_close {
    display: flex;
    align-self: flex-end;
    margin-bottom: 31px;
  }
}