.header__email {
  margin: 0 24px 0 ;
  align-self: center;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 767px) {
  .header__email {
    margin: 0;
  }
} 