.popup__container {
  min-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  padding: 34px 36px 37px 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  position: relative;
}

@media screen and (max-width: 767px) {
  .popup__container {
    min-width: 282px;
    padding: 25px 22px;
  }
}