.header__menu-btn {
  background-image: url(../../../images/Menu-btn.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: transparent;
  width: 24px;
  height: 24px;
  display: none;
  padding: 0;
  transition: background-image .1s linear;
}
.header__menu-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .header__menu-btn {
    display: flex;
    align-self: flex-end;
    margin-bottom: 31px;
  }
}