.grid__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  padding-left: 15px;
  align-self: center;
  transition: opacity .3s ease-in, transform .2s linear;
  outline: none;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  transition: all .2s ease-in;
}

.grid__like:hover {
  cursor: pointer;
  transform: scale(1.3);
}
