.popup__image {
  max-width: 75vw;
  max-height: 75vh;
}

@media screen and (max-width: 1023px) {
  .popup__image {
    max-width: 600px;
  }
}
@media screen and (max-width: 767px) {
  .popup__image {
    max-width: 400px;
  }
}
@media screen and (max-width: 430px) {
  .popup__image {
    max-width: 240px;
  }
}